################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XML_To_CSV_Library/obj/Debug
/XML_To_CSV_Library/bin/Debug
/ConsoleApplication/obj/Debug
/ConsoleApplication/bin/Debug
